// fonts
$font-sans-serif: sans-serif;
$font-primary: "Poppins", $font-sans-serif;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 24px;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-gray50: #f2f2f2;
$color-gray100: #303030;
$color-gray200: #9a9a9a;
$color-gray: #969696;
$color-blue: #7faaf0;
$color-orange: #e3964a;
$color-orange100: #f4b400;
$color-red: #e34a4a;

// spacing
$spacing: 8;

// z-index
$modal-background: 100;
$modal: 101;
