@import "styles/variables";
@import "styles/functions";

.root {
  position: relative;
  width: 100%;

  border-radius: spacing(2);
  overflow: hidden;

  img {
    width: 100%;
  }
}

.name {
  color: $color-white;

  position: absolute;
  top: 50%;
  left: spacing(3);

  transform: translateY(-50%);
}
