@import "styles/variables";
@import "styles/functions";

.root {
  padding: spacing(3) 0 spacing(8) 0;
}

.wrapper {
  display: flex;
  gap: spacing(4);

  margin-top: spacing(6);
}

.options {
  flex: 1 1 20%;
  align-self: baseline;

  display: flex;
  flex-direction: column;
  gap: spacing(4);
}

.products {
  flex: 0 0 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: spacing(2);
}
